<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKulvDgEzDpOahAIxjRVjXA5ed1F3f-U0</string>
	<key>GCM_SENDER_ID</key>
	<string>653613258024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tts</string>
	<key>PROJECT_ID</key>
	<string>ttspeech-5d060</string>
	<key>STORAGE_BUCKET</key>
	<string>ttspeech-5d060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653613258024:ios:a12eb2e845f3fc467cec1d</string>
</dict>
</plist>